
.author-links {
    margin-top: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .link {
    display: inline-flex;
    align-items: center;
    margin: 5px 0;
    font-family: 'NEXA';
    font-size: 1.2rem;
    color: #E6E6FA;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #b32990;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }