.back-to-top {
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translateY(-50%); 
    display: none;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .back-to-top.visible {
    display: block; 
  }
  

  .back-to-top img {
    width: 50px; 
    transition: transform 0.6s ease-in-out;
  }
  
  .back-to-top:hover img {
    animation: bobbing 0.6s ease-in-out infinite;
  }



@media (max-width: 768px) {
    .back-to-top img {
      width: 40px; 
    }
  
    .back-to-top {
      bottom: 10px; 
      right: 10px; 
    }
  }
  
  @media (max-width: 480px) {
    .back-to-top img {
      width: 30px; 
    }
  
    .back-to-top {
      bottom: 5px; 
      right: 5px; 
    }
  }
  
  @keyframes bobbing {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }