.navbar {
    position:absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}


.nav-link {
    font-family: 'NEXA';
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0.6rem;
}

.nav-link:hover {
  color: #b32990;
}