.guide-selection {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 10rem;
}

.guide-link {
    width:300px;
    height:300px;
    position:relative;
    border-radius: 50%;
}



.guide-link img {
    height:100%;
    width:100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Apply transition to the img element */
    border-radius: 50%;
}

.guide-link img:hover {
    cursor: pointer;
    transform: scale(1.3);
}


.guide-link p {
    margin: 0;
    padding-top: 50px;
    width: auto;
    background: none;
    text-align: center;
    border-radius: 0;
    color: #fff; 
    font-size: 1rem; 
    text-decoration: none; 
    pointer-events: none; 
    font-family: "Poppins";
    font-weight: bold;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.archon-link::after, .archon-link::before {
    content: '';
    position:absolute;
    height:100%;
    width:100%;
    background-image:conic-gradient(from var(--angle),purple,yellow, purple);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 50%;
    padding: 6px;
    transition: transform 0.2s ease-in-out;
    animation: 3s spin linear infinite;
}

.archon-link::before {
    filter:blur(1.5rem);
    opacity: 0.5;
}

.archon-link:hover::before, .archon-link:hover::after {
    transform: scale(1.3);
}


.voidweaver-link::after, .voidweaver-link::before {
    content: '';
    position:absolute;
    height:100%;
    width:100%;
    background-image:conic-gradient(from var(--angle),rgb(64, 66, 180), rgb(49, 12, 99),rgb(64, 66, 180));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 50%;
    padding: 6px;
    transition: transform 0.2s ease-in-out;
    animation: 3s spin linear infinite;
    pointer-events:none;
}

.voidweaver-link::before {
    filter:blur(1.5rem);
    opacity: 0.5;
}
.voidweaver-link:hover::before, .voidweaver-link:hover::after {
    transform: scale(1.3);
}



@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@media (max-width: 1200px) {
    .guide-selection {
        gap: 5rem; /* Reduce gap between items */
    }

    .guide-link {
        width: 250px;
        height: 250px;
    }

    .guide-link p {
        font-size: 0.9rem; /* Adjust font size */
    }
}

@media (max-width: 768px) {
    .guide-selection {
        flex-direction: row;
        top: 50%;
        padding-top: 60px;
    }

    .guide-link {
        width: 200px;
        height: 200px;
    }

    .guide-link p {
        font-size: 0.8rem; /* Adjust font size */
        padding-top: 30px; /* Adjust padding */
    }
}

@media (max-width: 480px) {
    .guide-link {
        width: 150px;
        height: 150px;
    }

    .guide-link p {
        font-size: 0.7rem; /* Adjust font size */
        padding-top: 20px; /* Adjust padding */
    }
}